/* banner */

.breadcrumb-contact a {
    color: rgb(231, 184, 67);
}

#banner .owl-banner-contact .item {
    position: relative;
    height: 100vh;
}

#banner .owl-banner-contact .item img {
    height: 100vh;
    object-fit: cover;
}

#banner .owl-banner-contact .item .content-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10px);
    z-index: 2;
    text-align: center;
    color: #FFF;
}

#banner .owl-banner-contact .item .content-banner .welcome_content__title {
    color: #FFF;
    font-size: 60px;
    font-weight: 400;
}

#banner .owl-banner-contact .item .content-banner .btn-reservation {
    border: 1px solid #FFF;
    color: #FFF;
    transition: all .5s ease-in-out;
}

#banner .owl-banner-contact .item .content-banner .btn-reservation:hover {
    background: #8d191c;
}

#banner .owl-banner-contact .item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 12%);
    z-index: 1;
    top: 0;
    left: 0;
}


/* End banner */


/* Main */

.main {
    padding: 80px 0;
    background: #fafafa;
}

.service__form,
.detail__check,
.detail__contact {
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid rgb(209, 209, 209);
}

.detail__contact {
    margin: 30px 0;
}

.space {
    width: 100%;
    padding: 20px;
    margin: 0 0 20px 0;
}

.space__bottom {
    display: block;
    margin: 5px 0 10px 0;
}

.room__details img {
    max-width: 100%;
    height: auto;
}

.room__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room__intro {
    margin: 0;
    border-bottom: 1px solid rgb(216, 213, 213);
}

.date-time-tour {
    display: flex;
    margin: 10px 0;
    border-bottom: 1px solid rgb(216, 213, 213);
}

.date-time-tour div {
    width: 50%;
}

.date-time-tour div label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.form__book .row .form-group label {
    font-weight: 700;
}

.total__price label {
    font-size: 12px;
    font-weight: 700;
}

.total__price p {
    font-size: 22px;
    font-weight: 700;
    color: #8d191c;
}

.contact__map,
.contact__phone,
.contact__email {
    padding: 10px 0;
    align-items: center;
    display: flex;
}

.contact__map i,
.contact__phone i,
.contact__email i {
    width: 10%;
    text-align: center;
    float: left;
    font-size: 26px;
    color: #8d191c;
}

.contact__map .address,
.contact__phone .phone,
.contact__email .email {
    margin: 0 0 0 20px;
}

.form__section-heading,
.heading__title,
.room__price h3 {
    font-weight: 700;
    color: #374853;
}

.form__titlt--heading,
.detail__subheading {
    color: #8d191c;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.heading__title {
    margin: 20px 0;
}


/* End Main */


/* Responsive mobile */

@media screen and (max-width:768px) {
    .service__detail {
        margin: 20px 0 0 0;
    }
    .detail__check {
        padding: 25px;
    }
    .service__detail {
        margin: 0;
    }
    .heading__title,
    .room__price h3 {
        font-size: 20px;
    }
}

@media screen and (max-width:767px) {
    .service__detail {
        margin: 20px 0 0 0;
    }
}